._card_1bthu_1 {
  animation: _homeArtifactTemplatesEnter_1bthu_1
    var(--transition-duration-relaxed) var(--cubic-enter) backwards;
}
@media (prefers-reduced-motion: reduce) {
  ._card_1bthu_1 {
    animation: none;
  }
}
@keyframes _homeArtifactTemplatesEnter_1bthu_1 {
  0% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
